{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      Gráficas
    </h1>
  </div>
</section>

<section class="section main-section">

  <!-- Grafica Temperatura -->
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-finance"></i></span>
        Temperatura - 24 h
      </p>
    </header>
    <div class="card-content">
      <canvas id="temperature-chart" width="400" height="200"></canvas>
    </div>
  </div>


  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-finance"></i></span>
        Temperatura - 24 h
      </p>
    </header>
    <div class="card-content">
      <canvas id="temperature-chart-range" width="400" height="200"></canvas>
    </div>
  </div>

  <!-- Grafica Humedad -->
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-finance"></i></span>
        Humedad - 24 h
      </p>
    </header>
    <div class="card-content">
      <canvas id="humidity-chart" width="400" height="200"></canvas>
    </div>
  </div>


  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-finance"></i></span>
        Humedad - 24 h
      </p>
    </header>
    <div class="card-content">
      <canvas id="humidity-chart-range" width="400" height="200"></canvas>
    </div>
  </div>

</section>

{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'js/npm/chart.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'js/npm/chartjs-plugin-annotation' %}"></script>

<script>
  // Obtener datos de Django
  const timestamps = {{ timestamps|safe }};
  const humidity1 = {{ humidity1|safe }};
  const humidity2 = {{ humidity2|safe }};
  const avgHumidity = {{ avg_humidity|safe }};
  const temperature1 = {{ temperature1|safe }};
  const temperature2 = {{ temperature2|safe }};
  const avgTemperature = {{ avg_temperature|safe }};

  // Límites para temperatura
  const tempUpperLimit = 25; // 23 + 2
  const tempLowerLimit = 21; // 23 - 2

  // Límites para humedad
  const humidityLowerLimit = 95;

  new Chart(document.getElementById('temperature-chart'), {
    type: 'line',
    data: {
      labels: timestamps, // Mantén las etiquetas originales
      datasets: [
        {
          label: 'Sensor 1',
          data: temperature1,
          borderColor: 'rgba(255, 99, 132, 1)',
          fill: false,
        },
        {
          label: 'Sensor 2',
          data: temperature2,
          borderColor: 'rgba(54, 162, 235, 1)',
          fill: false,
        },
        {
          label: 'Promedio',
          data: avgTemperature,
          borderColor: 'rgba(153, 102, 255, 1)',
          borderDash: [5, 5],
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        x: { title: { display: true, text: 'Hora' } },
        y: { title: { display: true, text: 'Humedad (%)' } },
      },
    },
  });

  // Grafica de Humedad
  new Chart(document.getElementById('humidity-chart'), {
    type: 'line',
    data: {
      labels: timestamps,
      datasets: [
        {
          label: 'Sensor 1',
          data: humidity1,
          borderColor: 'rgba(255, 206, 86, 1)',
          fill: false,
        },
        {
          label: 'Sensor 2',
          data: humidity2,
          borderColor: 'rgba(75, 192, 192, 1)',
          fill: false,
        },
        {
          label: 'Promedio',
          data: avgHumidity,
          borderColor: 'rgba(153, 102, 255, 1)',
          borderDash: [5, 5],
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        x: { title: { display: true, text: 'Hora' } },
        y: { title: { display: true, text: 'Humedad (%)' } },
      },
    },
  });

  // Grafica de Temperatura - RANGO
  new Chart(document.getElementById('temperature-chart-range'), {
    type: 'line',
    data: {
      labels: timestamps,
      datasets: [
        {
          label: 'Promedio',
          data: avgTemperature,
          borderColor: 'rgba(153, 102, 255, 1)',
          borderDash: [5, 5],
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        x: { title: { display: true, text: 'Hora' } },
        y: { title: { display: true, text: 'Temperatura (°C)' } },
      },
      plugins: {
        annotation: {
          annotations: {
            upperLimit: {
              type: 'line',
              yMin: tempUpperLimit,
              yMax: tempUpperLimit,
              borderColor: 'rgba(255, 0, 0, 0.5)',
              borderWidth: 2,
              label: {
                content: 'Límite superior',
                enabled: true,
                position: 'end',
              },
            },
            lowerLimit: {
              type: 'line',
              yMin: tempLowerLimit,
              yMax: tempLowerLimit,
              borderColor: 'rgba(0, 255, 0, 0.5)',
              borderWidth: 2,
              label: {
                content: 'Límite inferior',
                enabled: true,
                position: 'start',
              },
            },
            greenRange: {
              type: 'box',
              yMin: tempLowerLimit,
              yMax: tempUpperLimit, // Máximo rango válido
              backgroundColor: 'rgba(0, 255, 0, 0.1)', // Verde claro
            },
            redRange1: {
              type: 'box',
              yMin: tempUpperLimit,
              yMax: 25.5, // Máximo rango válido
              backgroundColor: 'rgba(255, 0, 0, 0.1)', // Verde claro
            },
            redRange2: {
              type: 'box',
              yMin: 20.5,
              yMax: tempLowerLimit, // Máximo rango válido
              backgroundColor: 'rgba(255, 0, 0, 0.1)', // Verde claro
            },
          },
        },
      },
    },
  });

  // Grafica de Humedad - RANGO
  new Chart(document.getElementById('humidity-chart-range'), {
    type: 'line',
    data: {
      labels: timestamps,
      datasets: [
        {
          label: 'Promedio',
          data: avgHumidity,
          borderColor: 'rgba(153, 102, 255, 1)',
          borderDash: [5, 5],
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        x: { title: { display: true, text: 'Hora' } },
        y: { title: { display: true, text: 'Humedad (%)' } },
      },
      plugins: {
        annotation: {
          annotations: {
            greenRange: {
              type: 'box',
              yMin: humidityLowerLimit,
              yMax: 100, // Máximo rango válido
              backgroundColor: 'rgba(0, 255, 0, 0.1)', // Verde claro
            },
            redRangeLower: {
              type: 'box',
              yMin: 0,
              yMax: humidityLowerLimit,
              backgroundColor: 'rgba(255, 0, 0, 0.1)', // Rojo claro
            },
          },
        },
      },
    },
  });
</script>


{% endblock %}