{% extends 'dashboard/base.html' %}

{% block content %}
<script type="text/javascript" src="{% static 'js/npm/chart.js' %}"></script>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      Dashboard
    </h1>
  </div>
</section>

<section class="section main-section">
  <!-- Tarjetas Datos -->
  <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
    <div class="card">
      <div class="card-content">
        <div class="flex items-center justify-between">
          <div class="widget-label">
            <h3>
              Última Lectura
            </h3>
            <h1>
              {{last_timestamp}}
            </h1>
          </div>
          <span class="icon widget-icon text-black-500"><i class="mdi mdi-clock mdi-48px"></i></span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="flex items-center justify-between">
          <div class="widget-label">
            <h3>
              Temperatura
            </h3>
            <h1
            class="{% if last_avg_temperature < temperature_min_alert or last_avg_temperature > temperature_max_alert %}text-red-500{% else %}text-green-500{% endif %}">
              {{last_avg_temperature|floatformat:2}} °C
            </h1>
          </div>
          {% if last_avg_temperature < temperature_min_alert or last_avg_temperature > temperature_max_alert %}
          <span class="icon widget-icon text-red-500"><i class="mdi mdi-thermometer mdi-48px"></i></span>
          {% else %}
          <span class="icon widget-icon text-green-500"><i class="mdi mdi-thermometer mdi-48px"></i></span>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="flex items-center justify-between">
          <div class="widget-label">
            <h3>
              Humedad
            </h3>
            {% if last_avg_humidity < humidity_min_alert or last_avg_humidity > humidity_max_alert %}
            <h1
            class="text-red-500">
              {{last_avg_humidity|floatformat:2}} %
            </h1>
            {% else %}
            <h1
            class="text-green-500">
              {{last_avg_humidity|floatformat:2}} %
            </h1>
            {% endif %}
          </div>
          {% if last_avg_humidity < humidity_min_alert or last_avg_humidity > humidity_max_alert %}
          <span class="icon widget-icon text-red-500"><i class="mdi mdi-water-pump mdi-48px"></i></span>
          {% else %}
          <span class="icon widget-icon text-green-500"><i class="mdi mdi-water-pum mdi-48px"></i></span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Grafica Temperatura -->
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-finance"></i></span>
        Temperatura - 1 h
      </p>
    </header>
    <div class="card-content">
      <canvas id="temperature-chart" width="400" height="200"></canvas>
    </div>
  </div>

  <!-- Grafica Humedad -->
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-finance"></i></span>
        Humedad - 1 h
      </p>
    </header>
    <div class="card-content">
      <canvas id="humidity-chart" width="400" height="200"></canvas>
    </div>
  </div>

</section>

<script>
  // Obtener datos de Django
  const timestamps = {{ timestamps|safe }};
  const humidity1 = {{ humidity1|safe }};
  const humidity2 = {{ humidity2|safe }};
  const avgHumidity = {{ avg_humidity|safe }};
  const temperature1 = {{ temperature1|safe }};
  const temperature2 = {{ temperature2|safe }};
  const avgTemperature = {{ avg_temperature|safe }};

  // Grafica de Temperatura
  new Chart(document.getElementById('temperature-chart'), {
    type: 'line',
    data: {
      labels: timestamps,
      datasets: [
        {
          label: 'Sensor 1',
          data: temperature1,
          borderColor: 'rgba(255, 99, 132, 1)',
          fill: false,
        },
        {
          label: 'Sensor 2',
          data: temperature2,
          borderColor: 'rgba(54, 162, 235, 1)',
          fill: false,
        },
        {
          label: 'Promedio',
          data: avgTemperature,
          borderColor: 'rgba(153, 102, 255, 1)',
          borderDash: [5, 5],
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        x: { title: { display: true, text: 'Hora' } },
        y: { title: { display: true, text: 'Temperatura (°C)' } },
      },
    },
  });

  // Grafica de Humedad
  new Chart(document.getElementById('humidity-chart'), {
    type: 'line',
    data: {
      labels: timestamps,
      datasets: [
        {
          label: 'Sensor 1',
          data: humidity1,
          borderColor: 'rgba(255, 206, 86, 1)',
          fill: false,
        },
        {
          label: 'Sensor 2',
          data: humidity2,
          borderColor: 'rgba(75, 192, 192, 1)',
          fill: false,
        },
        {
          label: 'Promedio',
          data: avgHumidity,
          borderColor: 'rgba(153, 102, 255, 1)',
          borderDash: [5, 5],
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        x: { title: { display: true, text: 'Hora' } },
        y: { title: { display: true, text: 'Humedad (%)' } },
      },
    },
  });
</script>
{% endblock %}